# Explore here

It's recommended to use this notebook for exploration purposes.

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página web que queremos scrapear
url = "https://ycharts.com/companies/TSLA/revenues"

# Encabezados para evitar bloqueos por parte del servidor
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'}
response = requests.get(url, headers=headers)

# Parsear el HTML
soup = BeautifulSoup(response.content, "html.parser")

# Encontrar todas las tablas
tablas = soup.find_all("table")

# Imprimir el número de tablas encontradas
print(f"Se encontraron {len(tablas)} tablas.")

# Imprimir los primeros caracteres de cada tabla para depuración
for i, table in enumerate(tablas):
    print(f"\nTabla {i}:")
    print(str(table)[:500])  # Imprime los primeros 500 caracteres de cada tabla para ver su contenido

# Buscar el índice de la tabla "Tesla Quarterly Revenue"
indice = None
for index, table in enumerate(tablas):
    table_str = str(table)
    if "Tesla Quarterly Revenue" in table_str:
        indice = index
        break

# Verificar si se encontró la tabla


# Convertir la tabla específica en un DataFrame
def parse_table(table):
    # Encuentra los encabezados de columna
    headers = [header.text.strip() for header in table.find_all("th")]
    rows = table.find_all("tr")[1:]  # Omite el encabezado
    
    # Extrae las filas
    data = []
    for row in rows:
        cols = row.find_all("td")
        data.append([col.text.strip() for col in cols])
    
    # Crear DataFrame
    df = pd.DataFrame(data, columns=headers)
    return df

# Convertir la tabla encontrada en un DataFrame
df_tesla = parse_table(tablas[indice])

# Imprimir el DataFrame de la tabla específica
print("\nTabla 'Tesla Quarterly Revenue':")
print(df_tesla.head())

Se encontraron 4 tablas.

Tabla 0:
<table class="table">
<thead>
<tr>
<th>Date</th>
<th class="text-right">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>June 30, 2024</td>
<td class="text-right">

                                25.50B

                        </td>
</tr>
<tr>
<td>March 31, 2024</td>
<td class="text-right">

                                21.30B

                        </td>
</tr>
<tr>
<td>December 31, 2

Tabla 1:
<table class="table">
<thead>
<tr>
<th>Date</th>
<th class="text-right">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>March 31, 2018</td>
<td class="text-right">

                                    3.409B

                            </td>
</tr>
<tr>
<td>December 31, 2017</td>
<td class="text-right">

                                    3.288B



Tabla 2:
<table class="table">
<tbody>
<tr>
<td><a href="/companies/GM/revenues">General Motors Co</a></td>
<td class="colTxtShort text-right">


                                47.97B


                    </td>
</tr>
<tr>
<td><a href="/companies/F/revenues">Ford Motor Co</a></td>
<td class="colTxtShort text-right">




Tabla 3:
<table class="table">
<tbody>
<tr>
<td><a href="/companies/TSLA/net_income">Net Income (Quarterly)</a></td>
<td class="text-right">


                                        1.478B


                            </td>
</tr>
<tr>
<td><a href="/companies/TSLA/expenses">Total Expenses (Quarterly)</a></td>
<td class="text-right">

TypeError: list indices must be integers or slices, not NoneType