# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [24]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

url=  "https://ycharts.com/companies/TSLA/revenues"
#Headers es para que no salga error porque no sepan que eres una maquina 

headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36' }
response = requests.get(url, headers= headers)


html_data= response.text
contenido=response.content
response.status_code


#soup = BeautifulSoup(html_data, "html.parser")
soup2 = BeautifulSoup(contenido, "html.parser")
#print(soup)

tablas = soup2.find_all("table")
tablas

#print (tablas)

for indice, table in enumerate(tablas):
    if ("Tesla Quarterly Revenue" in str(table)):
        indice = index
        break

q_tesla = pd.DataFrame(columns=("Fecha", "Ingresos"))

for row in tablas[indice].tbody.find_all("tr"):
    columnas= row.find_all("td")
    if columnas != []:
        Fecha= columnas[0].text
        Ingresos= columnas[1].text.replace("$", "").replace(",","")
        #Ingresos= columnas[1].text.maketrans("$", " ", ",")
        temp_df = pd.DataFrame({"Fecha": [Fecha], "Ingresos": [Ingresos]})
        q_tesla = pd.concat([q_tesla, temp_df], ignore_index=True)


q_tesla.head()

,Fecha,Ingresos
0,Net Income (Quarterly),\n \n ...
1,Total Expenses (Quarterly),\n \n ...
2,EPS Diluted (Quarterly),\n \n ...
3,Enterprise Value,\n \n ...
4,Gross Profit Margin (Quarterly),\n \n ...